<div ng-init="init()">
    <div class="panel col-md-12">
        <br/>
        <div class="ibox float-e-margins">
            <div class="ibox-title" style="text-align:center">
                <h3>Conciliación  Detalle de Registros</h3>
            </div>
            <div class="panel col-md-12">
                <br>
                <br>
                <div class="col-md-6">
                    <div ui-grid="gridAuxiliarContable" ui-grid-selection class="grid"></div>
                </div>
                <div class="col-md-6">
                    <div ui-grid="gridDepositosBancos" ui-grid-selection class="grid"></div>
                </div>
                <div class="col-md-12">
                    <br>
                    <br>
                    <a class="btn btn-primary pull-right" ng-click="GuardarGrid()">Punteo</a>
                    <br>
                    <br/> &nbsp;
                </div>
            </div>
            <div class="panel col-md-12">
                <br>
                <br>
                <div class="panel panel-mint">
                    <!--Panel heading-->
                    <div class="panel-heading">
                        <div class="panel-control">
                            <!--Nav tabs-->
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" ng-click="auxiliar=true; banco=false">Auxiliar Contable</a></li>
                                <li><a data-toggle="tab" ng-click="auxiliar=false; banco=true">Banco</a></li>
                            </ul>
                        </div>
                        <h3 class="panel-title"></h3>
                    </div>
                    <!--Panel body-->
                    <div class="panel-body">
                        <!--Tabs content-->
                        <div class="tab-content">
                            <div ui-grid="gridAuxiliarContablePunteado" class="grid" ng-show="auxiliar"></div>
                            <div ui-grid="gridDepositosBancosPunteado"  class="grid" ng-show="banco"></div>
                        </div>
                    </div>
                </div>
                <div>
                    <br>
                    <a class="btn btn-primary pull-right" href="/conciliacionInicio ">Regresar</a>
                    <br>
                    <br/> &nbsp;
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ************ Función para marcar todos los checkbox

<script src="http://code.jquery.com/jquery-1.9.1.js "></script> 
<script>
$(function(){
marcar = function(elemento){
elemento = $(elemento);
elemento.prop("checked ", true);
}

desmarcar = function(elemento){
elemento = $(elemento);
elemento.prop("checked ", false);
}
});
</script>
</head>
<body>
<input type="button " onclick="marcar( ':checkbox') " value="Marcar todos ">
<input type="button " onclick="desmarcar( ':checkbox') " value="Desmarcar ">

uno: <input type="checkbox " name="check ">
dos: <input type="checkbox " name="check ">
tres: <input type="checkbox " name="check ">
cuatro: <input type="checkbox " name="check ">
cinco: <input type="checkbox " name="check ">
-->
