<div ng-init="init()">
    <div class="panel col-md-12">
        <br/>
        <div class="ibox float-e-margins">
            <div class="ibox-title" style="text-align:center">
                <h3>Conciliación  Detalle de Registros</h3>
            </div>
            <div class="panel col-md-12">
                <br>
                <br>
                <div class="col-md-6">
                    <div class="text-main">
                        <h4>Banco</h4>
                    </div>
                    <div ui-grid="gridDepositosBancos" ui-grid-selection class="grid"></div>
                    <div class="col-md-4"><span class="text-bold text-info">Total Seleccionado</span></div>
                    <div class="col-md-4"><span class="text-bold text-info">Cargo: </span><span>{{cargoBanco  | currency}}</span></div>
                    </span>
                    <div class="col-md-4"><span class="text-bold text-info">Abono: </span><span>{{abonoBanco | currency}}</span></div>
                </div>
                <div class="col-md-6">
                    <div class="text-main">
                        <h4>Auxiliar Contable</h4>
                    </div>
                    <div ui-grid="gridAuxiliarContable" ui-grid-selection class="grid"></div>
                    <div class="col-md-4"><span class="text-bold text-info">Total Seleccionado</span></div>
                    <div class="col-md-4"><span class="text-bold text-info">Cargo: </span><span>{{cargoAuxiliar  | currency}}</span></div>
                    <div class="col-md-4"><span class="text-bold text-info">Abono: </span><span>{{abonoAuxiliar | currency}}</span></div>
                </div>
            </div>
            <div class="col-md-12">
                <br>
                <br>
                <a class="btn btn-primary pull-right" ng-click="GuardarGrid()">Punteo</a>
                <br>
                <br/> &nbsp;
            </div>
        </div>
        <div class="panel col-md-12">
            <br>
            <br>
            <!--INICIA LO QUE ME ROBE PARA MOSTRAR LOS DATOS-->
            <div class="col-md-6">
                <div class="text-main">
                    <h4>Banco Punteado</h4>
                </div>
                <table class="table table-striped table-bordered tabla-punteo" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Banco</th>
                            <th>Referencia</th>
                            <th>Concepto</th>
                            <th>Cargo</th>
                            <th>Abono</th>
                            <th data-sort-ignore="true" class="min-width"></th>
                            <th data-sort-ignore="true" class="min-width"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="banco in bancoPadre">
                            <td>{{banco.banco}}</td>
                            <td>{{banco.referencia}}</td>
                            <td>{{banco.concepto}}</td>
                            <td>{{banco.abono}}</td>
                            <td>{{banco.cargo}}</td>
                            <td>
                                <button class="btn btn-danger btn-xs" ng-click="eliminarPunteo(banco)"><i class="demo-pli-cross"></i></button>
                            </td>
                            <td>
                                <button class="btn btn-info btn-xs"><i class="ti-eye"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <div class="text-main">
                    <h4>Auxiliar Contable Punteado</h4>
                </div>
                <table class="table table-striped table-bordered tabla-punteo" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Tipo Póliza</th>
                            <th># Póliza</th>
                            <th>Concepto</th>
                            <th>Cargo</th>
                            <th>Abono</th>
                            <th data-sort-ignore="true" class="min-width"></th>
                            <th data-sort-ignore="true" class="min-width"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="auxiliar in auxiliarPadre">
                            <td>{{auxiliar.fecha}}</td>
                            <td>{{auxiliar.tipo}}</td>
                            <td>{{auxiliar.poliza}}</td>
                            <td>{{auxiliar.concepto}}</td>
                            <td>{{auxiliar.cargo}}</td>
                            <td>{{auxiliar.abono}}</td>
                            <td>
                                <button class="btn btn-danger btn-xs" ng-click="eliminarPunteo(auxiliar)"><i class="demo-pli-cross"></i></button>
                            </td>
                            <td>
                                <button class="btn btn-info btn-xs"><i class="ti-eye"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--TERMINA LO ROBADO-->
            <div>
                <br>
                <a class="btn btn-primary pull-right" href="/conciliacionInicio ">Regresar</a>
                <br>
                <br/> &nbsp;
            </div>
        </div>
    </div>
</div>
</div>
<!--Modal para colocar el numero del punteo-->
<!--===================================================-->
<div class="modal fade" id="punteo" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                <h4 class="modal-title">Ingrese el número del punteo</h4>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control">
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Cerrar</button>
                <button class="btn btn-primary" ng-click="">Punteo</button>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End Modal para colocar el numero del punteo-->
<!-- ************ Función para marcar todos los checkbox

<script src="http://code.jquery.com/jquery-1.9.1.js "></script> 
<script>
$(function(){
marcar = function(elemento){
elemento = $(elemento);
elemento.prop("checked ", true);
}

desmarcar = function(elemento){
elemento = $(elemento);
elemento.prop("checked ", false);
}
});
</script>
</head>
<body>
<input type="button " onclick="marcar( ':checkbox') " value="Marcar todos ">
<input type="button " onclick="desmarcar( ':checkbox') " value="Desmarcar ">

uno: <input type="checkbox " name="check ">
dos: <input type="checkbox " name="check ">
tres: <input type="checkbox " name="check ">
cuatro: <input type="checkbox " name="check ">
cinco: <input type="checkbox " name="check ">
-->
