<div ng-init="init()">
    <div class="panel col-md-12">
    <br/>
        <div class="ibox float-e-margins">
            <div class="ibox-title" style="text-align:center">
                <h3>Conciliación  Contable Inicio</h3>
            </div>
            <div class="panel col-md-12">
	            <br/>
	            <br/>
		        <div class="row">
			            <div class="form-group col-md-3">
		                    <label class="form-label">Empresa:</label>
		                    <select class="form-control" ng-model="filtros.idEmpresa" ng-options="empresa.emp_idempresa as empresa.emp_nombre for empresa in empresaUsuario" name="txtTipoContrato" ng-change="" ng-disabled="timbradoPendiente">
		                        <option value="">Seleccioné Empresa</option>
		                    </select>
		                </div>
		                 <div class="form-group col-md-3" id="calendar">
                                <label for="fInicio">Fecha Elaboración:</label>
                                <div class="input-group date">
                                    <label>21/01/2017</label>
                                </div>
                            </div>
		                <div class="form-group col-md-3">
		                    <label class="form-label">Banco:</label>
		                    <select class="form-control" ng-model="filtros.idBanco" ng-options="banco.idBanco as banco.descripcion for banco in bancoEmpresa" name="txtTipoContrato" ng-change="" ng-disabled="timbradoPendiente">
		                        <option value="">Seleccioné Banco</option>
		                    </select>
		                </div>
		                <div class="form-group col-md-3">
		                    <label class="form-label">Cuenta:</label>
		                    <select class="form-control" ng-model="filtros.idCuenta" ng-options="bancoCuenta.idBancoCuenta as bancoCuenta.descripcion for bancoCuenta in bancoCuenta" name="txtTipoContrato" ng-change="" ng-disabled="timbradoPendiente">
		                        <option value="">Seleccioné Cuenta</option>
		                    </select>
		                </div>
		        </div>
		        <div class="row">
		            <div>
		            	<div class="form-group col-md-3">
		                    <label class="form-label">Clave:</label>
		                    <select class="form-control" ng-model="filtros.idClave" ng-options="bancoClave.idClaveBanco as bancoClave.descripcion for bancoClave in bancoClave" name="txtTipoContrato" ng-change="" ng-disabled="timbradoPendiente">
		                        <option value="">Seleccioné Clave</option>
		                    </select>
		                </div>
		                <div class="form-group col-md-3">
		                    <label class="form-label">Cuenta Contable:</label>
		                    <select class="form-control" ng-model="filtros.idcuentaContable" ng-options="cuentacontable.idCuentacontable as cuentacontable.descripcion for cuentacontable in cuentacontable" name="txtTipoContrato" ng-change="" ng-disabled="timbradoPendiente">
		                        <option value="">Seleccioné Cuenta Contable</option>
		                    </select>
		                </div>
		                <div class="form-group col-md-3" id="calendar">
                                <label for="fInicio">Fecha Corte:</label>
                                <div class="input-group date">
                                     <label>21/01/2017</label>
                                </div>
                            </div>
		                 <div class="col-md-3" style="margin-top: 23px">
		                 	<button class="btn btn-warning">Buscar</button>
		                </div>
		            </div>
		        </div>
		        <br/>
		        <br/>
		        <div class="row">
			        <div class="col-sm-7" name="todo">
	                    <table id="tblTimbradoExitoso" class="table table-striped table-bordered">
	                        <thead>
	                            <tr>
	                                <th>Resumen</th>
	                                <th>Importe</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr>
	                             <td>Saldo Banco</td>
	                             <td>$35989.00</td>
	                            </tr>
	                               <tr>
		                               	<td>Abonos en Contabilidad no considerados en Bancos</td>
		                                <td>$0</td>
	                               </tr>
	                                <tr>
	                                 	<td>Abonos en Bancos no considerados en Contabilidad</td>
	                                 	<td>$0</td>
	                                </tr>
	                                <tr>
		                                 <td>Cargos en Contabilidad no considerados en Bancos</td>
		                                 <td>$0</td>
	                                </tr>
	                                <tr>
		                                 <td>Cargos Bancos no considerados en Contabilidad</td>
		                                 <td>$64009.00</td>
	                                </tr>      
	                                <tr>
		                                 <td>Saldo segun Conciliacion</td>
		                                 <td>$64009.00</td>
	                                </tr>
	                                <tr>
		                                 <td>Saldo segun Contabilidad</td>
		                                 <td>$64009.00</td>
	                                </tr>
	                                <tr>
		                                 <td>Diferencia</td>
		                                 <td>$0.00</td>
	                                </tr>
	                        </tbody>
	                    </table>
	                </div>
	                <div class="col-sm-5">
	                		<div class="form-group col-md-12">
	                			<button class="btn btn-info">Guardar</button>
	                			<button class="btn btn-info">Imprimir</button>
	                			<button class="btn btn-info" ng-click="generarReporte()">Exportar</button>
	                			<button class="btn btn-info">Enviar Correo</button>
	                		</div>
	                		<div class="form-group col-md-10">
			                    <label class="form-label">Elaboro:</label>
			                    <select class="form-control" ng-model="tipoEmpresa.idTipoEmpresa" ng-options="empresa.idEmpresa as empresa.nombreEmpresa for empresa in empresaUsuario" name="txtTipoContrato" ng-change="cargaDocTipoContrato(nuevoContrato)" ng-disabled="timbradoPendiente">
			                        <option value="">Seleccioné Empresa</option>
			                    </select>
			                </div>
			                 <div class="form-group col-md-10">
			                    <label class="form-label">Gerente Administrativo:</label>
			                    <select class="form-control" ng-model="tipoEmpresa.idTipoEmpresa" ng-options="empresa.idEmpresa as empresa.nombreEmpresa for empresa in empresaUsuario" name="txtTipoContrato" ng-change="cargaDocTipoContrato(nuevoContrato)" ng-disabled="timbradoPendiente">
			                        <option value="">Seleccioné Fecha</option>
			                    </select>
			                </div>
			                <div class="form-group col-md-10">
			                    <label class="form-label">Contador:</label>
			                    <select class="form-control" ng-model="tipoEmpresa.idTipoEmpresa" ng-options="empresa.idEmpresa as empresa.nombreEmpresa for empresa in empresaUsuario" name="txtTipoContrato" ng-change="cargaDocTipoContrato(nuevoContrato)" ng-disabled="timbradoPendiente">
			                        <option value="">Seleccioné Banco</option>
			                    </select>
			                </div>
	                </div>
	            </div>
                <br/>
                <!-- <div class="row col-md-12" style="text-align: right;"> -->
		        	<div class="col-md-5 col-md-offset-7" style="text-align: right;">
			       		<a class="btn btn-primary" href="/conciliacionDetalleRegistros">Detalle de registros</a>
			       		<a class="btn btn-success" href="/conciliacion">Ver detalle de diferencias</a>
			    	</div>
			    	<br/>
			    	 &nbsp;
			   <!--  </div> -->
	        </div>
	        <br/>
	    </div>
    </div>
</div>


